*{
    margin: 0;
    padding: 0;
}

#container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 133, 133, 0.247);
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner{
    background-color: rgba(255, 184, 92, 0.651);
    width: 40%;
    height: 30%;
    border-radius: 20px;
    
}

#clip
{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-color: rgba(78, 78, 78, 0.651);
    clip-path: circle(60% at 0% 0%);
    transition: clip-path 1s;
}

#inner:hover #clip{
    clip-path: circle(90%);
}

#clip p{
    padding: 10%;
    font-size: 3vh;
    color: antiquewhite;
    font-family: cursive;
}

#cp{
    padding: 10%;
    position: relative;
    font-size: 3vh;
    top:-100%;
    color: antiquewhite;
    font-family: cursive;

}

@media screen and (max-width: 560px) {
    #clip{
    clip-path: circle(90%);
    }
}
